* {
    text-size-adjust: 100% !important;

}

.grid1 {
    min-height: 100vh;
    background: #f1f4f9 ;
    background-image: url(https://raw.githubusercontent.com/tadyello/Gen-JavaScript/ada8eb7b6a5348e4853348f6e0e61625e6dc4025/meubg.svg);
    z-index: 2;
    background-size: cover;   

}
.texto1 {
    font-weight: bold !important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 1%!important;
    margin-bottom: 1%!important;
    font-size: 1.5em!important;
    
    
}
.texto2 {
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 10%!important;
    margin-bottom: 10%!important;
    color: grey;
    
}
.text-decorator-none {
    text-decoration: none;
}

.caixalogin {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: 65%;
    background-color: white;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    
}

.formlogin {
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 1% !important;
    margin-bottom:  1% !important;
    text-align: center!important;

}

.campos {
    font-weight: bold !important;
    width:90%!important;
}


.btnLogin {
    font-weight: 700 !important;
    border-radius: 10px !important;
    height: 30% !important;
    width: 30% !important;
    font-family: Gilroy Regular !important;
    font-size: 13px !important;
    font-weight: bold !important;
    font-style: normal !important;
    letter-spacing: 0.78px !important;
    text-align: center !important;
    border: 1px solid #0087c1 !important;
    background: #0000 !important;
    color: white !important;
    transition: all 0.2s !important;
    text-transform: uppercase !important;

}

/* .bttlogin{
    text-align: center!important; 
    border: 0!important;
    font-weight: 700!important;
    border-radius: 27px!important;
    height: 55px!important;
    width: 100%!important;
    z-index: 30!important;
    margin: 45px auto 30px!important;
    font-family: Gilroy Regular!important;
    font-size: 13px!important;
    font-weight: bold!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: 1.77!important;
    -webkit-letter-spacing: 0.78px!important;
    -moz-letter-spacing: 0.78px!important;
    -ms-letter-spacing: 0.78px!important;
    letter-spacing: 0.78px!important;
    text-align: center!important;
    border: 1px solid #0087c1!important;
    background: #0087c1!important;
    color: white!important;
    -webkit-transition: all 0.2s!important;
    transition: all 0.2s!important;
    padding: 0!important;
    text-transform: uppercase!important;
    
 } */


 /* .imagem {
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
} */