.caixa1-about{
    min-height: 100vh;
    background: #f1f4f9 ;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url(https://resumedone.co/static/img/login/Without-BG.svg);
    z-index: 2;
    
}


.txtdark{
    color: black;
    margin-top: 1%px!important;
    font-family: 'Donau Uppercase', sans-serif!important;

    
}

